---
layout: base
---

<table>
    {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
            <tr>
                <td>
                    <h3>{{ currentdate }}</h3>
                </td>
            </tr>
            {% assign date = currentdate %} 
        {% endif %}
        <tr>
            <td>
                <time>{{ post.date | date: "%b %d" }}</time>
            </td>
            <td>
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </td> 
        </tr>
    {% endfor %}
</table>

<div>
</div>
