---
layout: base
---

<table>
    {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
                <td>
                    <div>
                        <br><hr>{{ currentdate }} <hr>
                    </div>
                </td>
            {% assign date = currentdate %} 
        {% endif %}
        <tr>
            <td>
                <date>{{ post.date | date: "%b %d" }}</date>
            </td>
            <td>
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </td> 
        </tr>
    {% endfor %}
</table>

<div>
</div>
