---
layout: base
---

<table>
    {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
                <th>
                    {{ currentdate }}
                </th>
            {% assign date = currentdate %} 
        {% endif %}
        <tr>
            <td>
                {{ post.date | date: "%b %-d" }}
            </td>
            <td>
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </td> 
        </tr>
    {% endfor %}
</table>

<div>
</div>
