@font-face {
    font-family: "etbook";
    src: url("/stylesheets/et-book.woff") format('woff');
}

h1 {
    margin: 0;
}

body {
    background: #fffff2;
    font-family: etbook;
    font-size: 1.2em;
}

p, li {
    line-height: 1.5;
}

#content {
    max-width: 720px;
    margin: 0 auto;
}

.site-header {
    margin-top: 2em;
    text-align:right;
}
.site-header * {
    display: inline;
}

