@font-face {
    font-family: "etbook";
    src: url("/stylesheets/et-book.woff") format('woff');
}

body {
    background: #fffff2;
    font-family: etbook;
    font-size: 1.2em;
}

h1 {
    margin: 0;
}

p, li {
    line-height: 1.5;
}

#content {
    max-width: 720px;
    margin: 0 auto;
}

.site-header {
    margin-top: 2em;
    text-align:right;
}
.site-header * {
    display: inline;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 80%;
    line-height: 1.45;
    border-radius: 5px;
    overflow-x: auto;
    border: 1px black solid;
    background: white;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
    padding: 0;
}

code {
    padding: 0 0.2em;
    margin: 0;
    border-radius: 3px;
}

blockquote {
    font-style: italic;
    padding: 0 15px;
    margin: 2em 0;
    color: #888;
    border-left: 4px solid #ddd;
}

img, canvas {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: none;
    border-top: 1px solid gray;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 350px;
}

.content hr {
    width: 30%;
}

time {
    font-size: 0.8em;
    opacity:0.6;
}
