h1 {
    margin: 0;
}

body {
    background: #eeeee2;
}

#content {
    max-width: 720px;
    margin: 0 auto;
}

.site-header {
    margin-top: 2em;
    text-align:right;
}
.site-header * {
    display: inline;
}
